* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #031e4f;
}

.main {
    height: 60vh;
    width: 60vw;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

#heading {
    padding: .2rem;
    margin: .6rem;
}

.head{
    display: flex;
   align-items: center;
   justify-content: space-between;
}

#question{
    font-size: 1.3rem;
    margin: 10px 15px;
}
